*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    background: linear-gradient(235deg, #00feba, #5b548a);
}
.card{
    width: 90%;
   height: screen;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    max-width: 470px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline:0;
    background: #ebfffc ;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.search button img{
width: 16px;
}
.weather{
    text-align: center;
}
.weather-icon {
    margin-top: 20px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.details{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 30px;
    margin-top: -6px;
}


@media (max-width: 600px) {


    .card {
        width: 100%;
        padding: 10px 60px; /* Add padding for better spacing */
        box-sizing: border-box; /* Ensure padding is included in width */
        border-radius: 0; /* Remove border radius for mobile view */
    }

    .search input {
        font-size: 16px; /* Reduce font size for smaller screens */
        padding: 5px 10px;
        width: 50%;
    }

    .search button {
        width: 50px; /* Decrease button size for smaller screens */
        height: 50px;
    }

    .weather {
        margin-top: 20px; /* Adjust margin for better spacing */
    }

    .weather-icon {
        width: 100px; /* Adjust icon size for smaller screens */
    }

    .details {
        flex-direction: column; /* Stack details vertically on smaller screens */
        align-items: center; /* Center details horizontally */
    }

    .col {
        margin-bottom: 10px; /* Add margin between detail items */
    }
}